#mainNavbar .nav-link:hover{
    text-decoration:underline ;
}

#mainNavbar{
    letter-spacing: 0.25em;
}

*{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

footer .FooterText{
    letter-spacing: 0.1em;
    font-size: 2em;
}

.Copyright{
    font-size: 10px;
}

.firstText{
    margin:2em 0 3em
}

.secondText{
    margin:7em 0 10em;
}

.description{
    font-weight: 100;
}

.pointer:hover{
    translate: 20px;
    transition: 0.5s;
}

@media(max-width:320px) {
    footer .FooterText{
        letter-spacing: 0.1em;
        font-size: 3em;
        font-weight: 100;
    }
}