.navsec:hover{
    border-bottom: 1px solid #000;
    width: fit-content;
}

#mainNavbar{
    letter-spacing: 0.25em;
}

*{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

footer .FooterText{
    letter-spacing: 0.1em;
    font-size: 2em;
}

.Copyright{
    font-size: 10px;
}

.blog{
    padding-top: 2em;
    padding-bottom: 2em;
}

.first-paragraph{
    letter-spacing: 0.09em;
    font-size: large;
    font-weight: 400;
}

select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 1em;
    color: #565656;
    border-bottom: 2px solid silver; 
}

.text-section{
    letter-spacing: 0.09em;
    font-weight: 100;
    color: grey;
}

main{
    padding-top: 2em;
    padding-bottom: 2em;
}

.card-title{
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.after{
    text-align: end;
}

.card-text{
    font-weight: 100;
}

.button-section{
    padding-bottom: 6em;
}

.blogBtn{
    padding: 4px 30px;
    color: white;
    background-color: #565656;
}

@media(max-width:576px) {
    .Categories{
        padding-bottom: 1em;
    }
    .after{
        text-align: start;
    }
    .card-title{
        font-size: 30px;
        letter-spacing: 0.09em;
        font-weight: 300;
        padding-top: 7px;
        padding-bottom: 10px;
        color: black;
    }
    .places{
        margin-bottom: 2em;
    }
    .Copyright{
        margin-bottom: 2em;
    }
}