.navsec:hover{
    border-bottom: 1px solid #000;
    width: fit-content;
}

#mainNavbar{
    letter-spacing: 0.25em;
}

*{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

footer .FooterText{
    letter-spacing: 0.1em;
    font-size: 2em;
}

.Copyright{
    font-size: 10px;
}

.blog{
    padding-top: 2em;
    padding-bottom: 2em;
}

.first-paragraph{
    letter-spacing: 0.09em;
    font-size: large;
    font-weight: 400;
}

select{
    height: 100%;
    width: 30%;
    border: none;
    outline: none;
    padding-bottom: 1em;
    color: #565656;
    border-bottom: 2px solid silver; 
}

.text-section{
    letter-spacing: 0.09em;
    font-weight: 100;
}

main{
    padding-top: 2em;
    padding-bottom: 2em;
}

.card-title{
    font-size: 0.9em;
}

.card-text{
    font-weight: 100;
}

.button-section{
    padding-bottom: 6em;
}

.blogBtn{
    padding: 4px 30px;
    color: white;
    background-color: #565656;
}