.content{
    padding-top: 5em;
}

.contactUs{
    letter-spacing: 0.09em;
    padding-bottom: 4em;

}

.contactSub{
    letter-spacing: 0.09em;
    font-weight: 300;
    padding-bottom: 0.8em;
}

.followUs{
    letter-spacing: 0.09em;
    font-weight: 300;
    padding-top: 3em;
    padding-bottom: 0.8em;
}

.contactParagraph{
    font-weight: 100;
    letter-spacing: 0.15em;
    padding-bottom: 4em;
}

input[type="text"], input[type="password"], textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc; /* You can adjust the color and thickness of the outline */
}