.navsec:hover{
    border-bottom: 1px solid #000;
    width: fit-content;
}

#mainNavbar{
    letter-spacing: 0.25em;
}

*{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

footer .FooterText{
    letter-spacing: 0.1em;
    font-size: 2em;
}

.content{
    padding-top: 6em;
    padding-bottom: 6em;
}

.contactUs{
    padding-bottom: 2em;
}

.contactParagraph{
    font-weight: 100;
    letter-spacing: 0.15em;
    padding-bottom: 2em;
}

.contactSub{
    letter-spacing: 0.09em;
    font-weight: 400;
    padding-bottom: 0.8em;
}

.info{
    font-weight: 100;
    letter-spacing: 0.09em;
}

.followUs{
    letter-spacing: 0.09em;
    font-weight: 400;
    padding-top: 2em;
    padding-bottom: 0.8em;
}

.formButton{
    padding: 4px 20px;
    color: white;
    background-color: #565656;
}

.Copyright{
    font-size: 10px;
}

input[type="text"], textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid black; /* You can adjust the color and thickness of the outline */
}

select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
}