.navsec:hover{
    border-bottom: 1px solid #000;
    width: fit-content;
}

#mainNavbar{
    letter-spacing: 0.25em;
}

*{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

footer .FooterText{
    letter-spacing: 0.1em;
    font-size: 2em;
}

.Copyright{
    font-size: 10px;
}

.content{
    padding-top: 5em;
    padding-bottom: 5em;
}

.workHead{
    padding-bottom: 5em;
}

.intro{
    letter-spacing: 0.09em;
    font-weight: 400;
}

.workSub{
    letter-spacing: 0.09em;
    font-weight: 400;
}

.yearHead{
    letter-spacing: 0.09em;
}

.year{
    letter-spacing: 0.09em;
    font-weight: 100;
}

hr{
    width: 10%;
}

.workButton{
    padding: 4px 20px;
    color: white;
    background-color: #565656;
}

@media(max-width:576px) {
    .intro{
        padding-bottom: 1em;
    }
    .image{
        padding-bottom: 1em;
    }
    .places{
        margin-bottom: 2em;
    }
    .Copyright{
        margin-bottom: 2em;
    }
}
